extends layout
block scripts
	link(rel="stylesheet", href="/css/albumviewer.css")
block content
	div.container(style="min-height:800px;")
		div.row
			div.col-md-1
			div.col-md-10
				div.row
					div.col-12
						h2 Album
						p
							&nbsp;Time: #{"unknown"}&nbsp;&nbsp;&nbsp;
						p
							&nbsp;Description: #{"unknown"}&nbsp;&nbsp;&nbsp;
				div.row
					div.col-md-3
						img(src="#{user.avatar}")
					div.col-md-3
						img(src="#{user.avatar}")
					div.col-md-3
						img(src="#{user.avatar}")
					div.col-md-3
						img(src="#{user.avatar}")
			div.col-md-1