extends layout
block scripts
	link(rel="stylesheet", href="/css/albumviewer.css")
block content
	div.container(style="min-height:800px;")
		div.row
			div.col-md-1
			div.col-md-10
				div.row
					div.col-12
						h2 #{album.title}
						p 
							sapn.glyphicon.glyphicon-user
							| &nbsp;
							span Owner:
								a(href="/profile/#{album.owner.login}") #{album.owner.name} &nbsp;
							span.glyphicon.glyphicon-time
							| &nbsp;
							span Time: #{album.creationTime}&nbsp;&nbsp;
							span.glyphicon.glyphicon-refresh
							| &nbsp;
							span Updated: #{album.updateTime}&nbsp;&nbsp;&nbsp;
						blockquote #{album.description !== "" ? album.description : "(No Description)"}
				- if ( albumitems && albumitems.length > 0 ) {
					- for (var i = 0; i <= Math.floor(albumitems.length / 4); i++) {
						div.row
							- for (var j = 0; j < 4; j++){
								- if(albumitems.length > i * 4 + j){
									div.col-md-3
										div.thumbnail
											- if (albumitems[i * 3 + j].type == "photo") {
												img.img-responsive(src="#{albumitems[i * 3 + j].url}")
											- } else if (albumitems[i * 3 + j].type == "video") {
												video(style="width:100%", controls="auto")
													source(src="#{albumitems[i * 3 + j].url}")
											- }
											div.caption 
												a(href="/photo/#{albumitems[i * 3 + j].id}") 
													strong #{albumitems[i * 3 + j].title}
												div 
													span.glyphicon.glyphicon-time
													| &nbsp;
													span #{albumitems[i * 3 + j].time ? albumitems[i * 3 + j].time.toDateString() : albumitems[i * 3 + j].time}
								- }
							- } 
					- }
				- } else {
					div.row
						div.well This album is empty. Please add some photos.
				- }
			div.col-md-1
