extends layout
block scripts
	link(rel="stylesheet", href="/css/photoviewer.css")
block content
	div.container(style="min-height:800px;")
		div.row
			div.col-md-12
				div.row
					div.col-md-12
						h2 #{media.title}
						p
							span.glyphicon.glyphicon-user
							span &nbsp;Owner: 
								a(href="/profile/#{media.owner.login}") #{media.owner.name}
							span &nbsp;&nbsp;&nbsp;
							span.glyphicon.glyphicon-calendar
							span &nbsp;Time: #{media.time}&nbsp;&nbsp;&nbsp;
							span.glyphicon.glyphicon-heart
							span &nbsp;Likes: #{""}&nbsp;&nbsp;&nbsp;
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span &nbsp;Rating: #{"unknown"}&nbsp;&nbsp;&nbsp;
				div.row.photoviewer
					div.col-md-12
						div.row
							div.col-md-1
							div.col-md-10
								div(style="min-height:400px;max-height:600px;overflow:auto;")
									img.img-responsive(src="#{media.url}")
							div.col-md-1
				div.row.ratingviewer
					div.col-md-10
						div.row
							div.col-md-12
								h2 Comments
						div.row.rating(style="border-top:1px solid #000;")
							div.col-md-2(style="border-right:1px solid #000;")
								div.row
									div.col-md-12
										img(src="#{user.avatar}")
								div.row
									div.col-md-12
										p
											strong Username
							div.col-md-10
								div.row
									div.col-md-12(style="border-bottom:1px solid #888;padding-top:10px;")
										div.ratings.pull-right
											span.glyphicon.glyphicon-star
											span.glyphicon.glyphicon-star
											span.glyphicon.glyphicon-star
											span.glyphicon.glyphicon-star
											span.glyphicon.glyphicon-star
										p Sent on: 
								div.row
									div.col-md-12(style="padding-top:10px;")
										p &nbsp;HI GAIS #{"unknown"}&nbsp;&nbsp;&nbsp;
						div.row.rating(style="border-top:1px solid #000;")
							div.col-md-2(style="border-right:1px solid #000;")
								div.row
									div.col-md-12
										img(src="#{user.avatar}")
								div.row
									div.col-md-12
										p
											strong Username
							div.col-md-10
								div.row
									div.col-md-12(style="border-bottom:1px solid #888;padding-top:10px;")
										div.ratings.pull-right
											span.glyphicon.glyphicon-star
											span.glyphicon.glyphicon-star
											span.glyphicon.glyphicon-star
											span.glyphicon.glyphicon-star
											span.glyphicon.glyphicon-star
										p Sent on: 
								div.row
									div.col-md-12(style="padding-top:10px;")
										p &nbsp;Lolz #{"unknown"}&nbsp;&nbsp;&nbsp;
					div.col-md-2
						div.row
							div.col-md-12
								h2 Share
