extends layout
block scripts
	link(rel="stylesheet", href="/css/photoviewer.css")
block content
	div.container(style="min-height:800px;")
		div.row
			div.col-md-12
				div.row
					div.col-md-12
						h2 Photo
						p
							span.glyphicon.glyphicon-user
							span &nbsp;Owner: #{"unknown"}&nbsp;&nbsp;&nbsp;
							span.glyphicon.glyphicon-calendar
							span &nbsp;Time: #{"unknown"}&nbsp;&nbsp;&nbsp;
							span.glyphicon.glyphicon-heart
							span &nbsp;Likes: #{"unknown"}&nbsp;&nbsp;&nbsp;
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span &nbsp;Rating: #{"unknown"}&nbsp;&nbsp;&nbsp;
				div.row.photoviewer
					div.col-md-12
						div.row
							div.col-md-1
							div.col-md-10
								div(style="min-height:600px;")
									img.img-responsive(src="http://36.media.tumblr.com/3a60d35b0edf1c87890d0122c4065276/tumblr_n6ro0aGIcX1s662lpo1_r1_1280.jpg")
							div.col-md-1
				div.row.ratingviewer
					div.col-md-1
					div.col-md-10
						div.row
							div.col-md-12
								h2 Comments
						div.row.rating1
							div.col-md-2
								div.row
									div.col-md-12
										img(src="#{user.avatar}")
								div.row
									div.col-md-12
										p
											strong Username
							div.col-md-10
								div.row
									div.col-md-12
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star
								div.row
									div.col-md-12
										p &nbsp;HI GAIS #{"unknown"}&nbsp;&nbsp;&nbsp;
						div.row.rating1
							div.col-md-2
								div.row
									div.col-md-12
										img.img-responsive(src="#{user.avatar}")
								div.row
									div.col-md-12
										p
											strong Username
							div.col-md-10
								div.row
									div.col-md-12
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star
										span.glyphicon.glyphicon-star
								div.row
									div.col-md-12
										p &nbsp;WHO ARE YOU?! #{"unknown"}&nbsp;&nbsp;&nbsp;
					div.col-md-1
