extends layout
block scripts
	script(src="/js/media.js")
	link(rel="stylesheet", href="/css/photoviewer.css")
block content
	div.container(style="min-height:800px;")
		div.row
			div.col-md-12
				div.row
					div.col-md-12
						div#media-id(style="display:none;") #{media.id}
						h2 #{media.title}
						div.well
							span.glyphicon.glyphicon-user
							span &nbsp;Owner: 
								a(href="/profile/#{media.owner.login}") #{media.owner.name}
							| &nbsp;&nbsp;&nbsp;
							span.glyphicon.glyphicon-calendar
							| &nbsp;Time: #{media.time ? media.time.toLocaleString() : "Error"}&nbsp;&nbsp;&nbsp;
							| Rating: 
							span#rating-value ?
							| &nbsp;
							div#rating-star(style="display:inline")
				div.row.photoviewer
					div.col-md-12
						div.row
							div.col-md-1
							div.col-md-10
								div(style="min-height:400px;max-height:600px;overflow:auto;")
									img.img-responsive(src="#{media.url}")
							div.col-md-1
				div.row.ratingviewer
					div.col-md-8
						div.row
							div.col-md-12
								h2 Comments
						div.row(style="min-height:600px;")
							div.col-md-12
								div#comments
								div#rating-add
									div.panel.panel-default
										div.panel-body
											form
												div.form-group
													label Comment:
													textarea.form-control(rows="5", name="comment")
												div.form-group
													label Rating:
													select.form-control(name="rating")
														- for(var i = 0; i <= 10; i++){
															option(value="#{10 - i}") #{10 - i}
														- }
												div.form-group
													button.btn.btn-primary(type="submit")
														Add Rating
					div.col-md-4
						div.row
							div.col-md-12
								h2 Share
