extends layout
block scripts
	script(src="/js/trip.js")
block content
	div.container(style="min-height:800px;")
		div#trip_id(style="display:none") #{trip.trip_id}
		div.row
			div.col-md-12
				h2 #{trip.name}
				div.row
					div.col-md-12
						p
							span.glyphicon.glyphicon-calendar
							span &nbsp;#{trip.start.toDateString ? trip.start.toDateString() : trip.start} - #{trip.end.toDateString ? trip.end.toDateString() : trip.end}&nbsp;&nbsp;&nbsp;
							span.glyphicon.glyphicon-eye-open
							span &nbsp;#{trip.privacy === 0 ? "Public": "Limited"}
						blockquote #{trip.description}
				div.row
					div.col-md-8
						div.row
							div.col-md-12
								h2 Schedule
								div#schedule
								- if (trip.owner === user.uid ) {
									div#schedule-add-expand
										a#schedule-add-expand-button.btn.btn-default.btn-block + Add new schedule day
									div#schedule-add(style="display:none;")
										div.panel.panel-default(style="margin-top:10px;")
											div.panel-body
												div.form-group
													label Date
													input#schedule-add-date.form-control(type="text")
												div.form-group
													label Location
													input#schedule-add-location.form-control(type="text")
												div.form-group
													label Type (may leave blank when adding an existing location)
													input#schedule-add-type.form-control(type="text")
												div.form-group
													button#schedule-add-button.btn.btn-primary(type="submit") Add Schedule
								- }
						div.row
							div.col-md-12
								h2 Albums
								div#albums
						div.row
							div.col-md-6
								h3 Ratings
								div#ratings
								div#ratings-load(style="margin:5px 0 20px 0;")
									button#more-button.btn.btn-default.btn-block Load More ... 
								div#rating-form
									div.panel.panel-default
										div.panel-body
											form
												div.form-group
													label Comment:
													textarea.form-control#rate-comment(rows="5", name="comment")
												div.form-group
													label Rating:
													select.form-control#rate-rating(name="rating")
														- for(var i = 0; i <= 10; i++){
															option(value="#{10 - i}") #{10 - i}
														- }
												div.form-group
													button.btn.btn-primary#rate-button(type="submit") Add Rating
							div.col-md-6
								h3 Checklist
								div#checklist
								a#additem.btn.btn-success.btn-block + Add Item
								div#newitem(style="display:none;margin-top:5px;")
									input.form-control(name="itemdescription", id="itemdescription", type="text", placeholder="Item description")

					div.col-md-4
						div.row
							div.col-md-12
								- if (trip.owner === user.uid ) {
									div#requests
								- } else {
									a#join-btn.btn.btn-success.btn-block(style="display:none;") Join Trip
								- }
						div.row
							div.col-md-12
								h3 Members
								div#members



